{% extends 'MyKilometrowkaBundle:Login:layout.html.twig' %}



{#<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>   
<%@ taglib uri='http://java.sun.com/jsp/jstl/core' prefix='c'%>#}

{% block body %}
    {% if edycja==1 %}
        <form action="{{ path('my_kilometrowka_zalogowany_dodajPracownika') }}" method="post">
            <table border="0">

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj imię pracownika."></span>&nbsp;<label class="form-label">Imie:</label><input path="imie" class="form-control" placeholder="Imię pracownika" name="imie" value="{{ pracownicy.imie }}"/><font color="red"><form:errors path="imie" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj nazwisko pracownika."></span>&nbsp;<label class="form-label">Nazwisko:</label><input path="nazwisko" class="form-control" placeholder="Nazwisko pracownika" name="nazwisko" value="{{ pracownicy.nazwisko }}"/><font color="red"><form:errors path="nazwisko" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj adres zamieszkania pracownika (nazwę ulicy, numer domu i mieszkania)."></span>&nbsp;<label class="form-label">Adres:</label><input path="adres" class="form-control" placeholder="Ulica i nr. mieszkania" name="adres" value="{{ pracownicy.adres }}"/><font color="red"><form:errors path="adres" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj kod pocztowy firmy w formacie XX-XXX."></span>&nbsp;<label class="form-label">Kod pocztowy:</label><input path="kodPocztowy" class="form-control" pattern="^[0-9]{2}-[0-9]{3}$" placeholder="XX-XXX" maxlength="6" name="kodPocztowy" value="{{ pracownicy.kodPocztowy }}"/><font color="red"><form:errors path="kodPocztowy" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miasto w którym zamieszkuje pracownik."></span>&nbsp;<label class="form-label">Miasto:</label><input path="miasto" class="form-control" placeholder="Miasto pracownika" name="miasto" value="{{ pracownicy.miasto }}"/><font color="red"><form:errors path="miasto" /></font></td>
                </tr>



                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj telefon kontaktowy do pracownika. To pole jest polem opcjonalnym."></span>&nbsp;<label class="form-label">Telefon*:</label><input path="telefon" class="form-control" placeholder="Telefon do pracownika" type="tel" name="telefon" value="{{ pracownicy.telefon }}" /><font color="red"><form:errors path="telefon" /></font></td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><input path="id" class="form-control" value="{{ pracownicy.id }}" type="hidden" name="edycjaId" /><br><input type="submit" value="Dodaj" class="btn btn-primary btn-sm" /></td>
                </tr>
            </table>
        </form>
    {% endif %}



    {% if edycja!=1 %}
        <form action="{{ path('my_kilometrowka_zalogowany_dodajPracownika') }}" method="post">
            <table border="0">

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj imię pracownika."></span>&nbsp;<label class="form-label">Imie:</label><input path="imie" class="form-control" placeholder="Imię pracownika" name="imie"/><font color="red"><form:errors path="imie" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj nazwisko pracownika."></span>&nbsp;<label class="form-label">Nazwisko:</label><input path="nazwisko" class="form-control" placeholder="Nazwisko pracownika" name="nazwisko"/><font color="red"><form:errors path="nazwisko" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj adres zamieszkania pracownika (nazwę ulicy, numer domu i mieszkania)."></span>&nbsp;<label class="form-label">Adres:</label><input path="adres" class="form-control" placeholder="Ulica i nr. mieszkania" name="adres"/><font color="red"><form:errors path="adres" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj kod pocztowy firmy w formacie XX-XXX."></span>&nbsp;<label class="form-label">Kod pocztowy:</label><input path="kodPocztowy" class="form-control" pattern="^[0-9]{2}-[0-9]{3}$" placeholder="XX-XXX" maxlength="6" name="kodPocztowy"/><font color="red"><form:errors path="kodPocztowy" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miasto w którym zamieszkuje pracownik."></span>&nbsp;<label class="form-label">Miasto:</label><input path="miasto" class="form-control" placeholder="Miasto pracownika" name="miasto"/><font color="red"><form:errors path="miasto" /></font></td>
                </tr>



                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj telefon kontaktowy do pracownika. To pole jest polem opcjonalnym."></span>&nbsp;<label class="form-label">Telefon*:</label><input path="telefon" class="form-control" placeholder="Telefon do pracownika" type="tel" name="telefon"/><font color="red"><form:errors path="telefon" /></font></td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><br><input type="submit" value="Dodaj" class="btn btn-primary btn-sm" /></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}