{% extends 'MyKilometrowkaBundle:Login:layout.html.twig' %}



{#<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>   
<%@ taglib uri='http://java.sun.com/jsp/jstl/core' prefix='c'%>#}

{% block body %}
    {% if edycja==1 %}
        <form action="{{ path('my_kilometrowka_zalogowany_dodajFirme') }}" method="post">
            <table border="0">
                <tr>
                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj prawdziwą nazwę Twojej firmy."></span>&nbsp;<label class="form-label">Nazwa firmy</label>
                <input path="nazwaFirmy" class="form-control" max="128" value='{{ firmy.nazwaFirmy }}' name="nazwaFirmy"/><font color="red"><form:errors path="nazwaFirmy" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj nazwę ulicy, numer domu i mieszkania pod którym znajduje się Twoja firma."></span>&nbsp;<label class="form-label">Adres:</label><input path="adres" class="form-control" max="128" value="{{ firmy.adres }}" name="adres"/><font color="red"><form:errors path="adres" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miasto w którym znajduje się Twoja firma."></span>&nbsp;<label class="form-label">Miasto:</label><input path="miasto" class="form-control" max="64" value="{{ firmy.miasto }}" name="miasto"/><font color="red"><form:errors path="miasto" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj kod pocztowy firmy w formacie XX-XXX."></span>&nbsp;<label class="form-label">Kod pocztowy:</label><input path="kodPocztowy" class="form-control" pattern="^[0-9]{2}-[0-9]{3}$" placeholder="XX-XXX"  maxlength="6" value="{{ firmy.kodPocztowy }}" name="kodPocztowy"/><font color="red"><form:errors path="kodPocztowy" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj NIP Twojej firmy."></span>&nbsp;<label class="form-label">NIP:</label><input path="nip" class="form-control" pattern="^((\d{3}[- ]\d{3}[- ]\d{2}[- ]\d{2})|(\d{3}[- ]\d{2}[- ]\d{2}[- ]\d{3}))$" max="32" placeholder="XXX-XX-XX-XXX" value="{{ firmy.nip }}" name="nip"/><font color="red"><form:errors path="nip" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj regon Twojej firmy."> </span>&nbsp;<label class="form-label">REGON:</label><input path="regon" class="form-control" max="14" value="{{ firmy.regon }}" name="regon"/><font color="red"><form:errors path="regon" /></font></td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><input path="id" class="form-control" value="{{firmy.id}}" type="hidden" name="edycjaId"/><br><input type="submit" value="Edytuj" class="btn btn-primary btn-sm"/></td>
                </tr>
            </table>
        </form:form>
    {% endif %}



    {% if edycja!=1 %}
        <form action="{{ path('my_kilometrowka_zalogowany_dodajFirme') }}" method="post">
            <table border="0">
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj prawdziwą nazwę Twojej firmy."></span>&nbsp;<label class="form-label">Nazwa firmy</label>
                <input path="nazwaFirmy" class="form-control" max="128" name="nazwaFirmy"/><font color="red"><form:errors path="nazwaFirmy" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj nazwę ulicy, numer domu i mieszkania pod którym znajduje się Twoja firma."></span>&nbsp;<label class="form-label">Adres:</label><input path="adres" class="form-control" max="128" name="adres"/><font color="red"><form:errors path="adres" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miasto w którym znajduje się Twoja firma."></span>&nbsp;<label class="form-label">Miasto:</label><input path="miasto" class="form-control"  max="64" name="miasto"/><font color="red"><form:errors path="miasto" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj kod pocztowy firmy w formacie XX-XXX."></span>&nbsp;<label class="form-label">Kod pocztowy:</label><input path="kodPocztowy" class="form-control" pattern="^[0-9]{2}-[0-9]{3}$" placeholder="XX-XXX" maxlength="6" name="kodPocztowy"/><font color="red"><form:errors path="kodPocztowy" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj NIP Twojej firmy."></span>&nbsp;<label class="form-label">NIP:</label><input path="nip" class="form-control" pattern="^((\d{3}[- ]\d{3}[- ]\d{2}[- ]\d{2})|(\d{3}[- ]\d{2}[- ]\d{2}[- ]\d{3}))$" max="32" placeholder="XXX-XX-XX-XXX" name="nip"/><font color="red"><form:errors path="nip" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj regon Twojej firmy."> </span>&nbsp;<label class="form-label">REGON:</label><input path="regon" class="form-control" max="14" name="regon"/><font color="red"><form:errors path="regon" /></font></td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><br><input type="submit" value="Dodaj" class="btn btn-primary btn-sm"/></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}