{% extends 'MyKilometrowkaBundle:Login:layout.html.twig' %}



{#<%@page contentType="text/html" pageEncoding="UTF-8"%>
<%@taglib uri="http://www.springframework.org/tags" prefix="spring"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>   
<%@ taglib uri='http://java.sun.com/jsp/jstl/core' prefix='c'%>#}

{% block body %}
    {% if edycja==1 %}
        <form action="{{ path('my_kilometrowka_zalogowany_dodajTrase') }}" method="post">
            <table border="0">

                <tr>
                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj dowolną nazwę trasy. Nazwa trasy służy tylko i wyłącznie do celów opisowych dla Ciebie."></span>&nbsp;<label class="form-label">Nazwa trasy:</label><input path="nazwa" class="form-control" name="nazwa" value="{{trasy.nazwa}}"/><font color="red"><form:errors path="nazwa" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miejsce początkowe trasy (miasto)."></span>&nbsp;<label class="form-label">Miejscowość źródłowa:</label><input path="skad" class="form-control" name="skad" value="{{trasy.skad}}"/><font color="red"><form:errors path="skad"/></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miejsce końcowe trasy (miasto)."></span>&nbsp;<label class="form-label">Miejscowość docelowa:</label><input path="dokad" class="form-control" name="dokad" value="{{trasy.dokad}}"/><font color="red"><form:errors path="dokad" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj długość w kilometrach wprowadzanej trasy."></span>&nbsp;<label class="form-label">Odległość w km:</label><input path="odleglosc" class="form-control" type="number" min="1" max="999999999" name="odleglosc" value="{{trasy.odleglosc}}"/><font color="red"><form:errors path="odleglosc" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj opis trasy. Opis trasy jest opcjonalny."></span>&nbsp;<label class="form-label">Opis*:</label><textarea path="opis" class="form-control" name="opis"/>{{trasy.opis}}</textarea><font color="red"><form:errors path="opis" /></font></td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><input path="id" class="form-control" value="{{trasy.id}}" type="hidden" name="edycjaId" /><br><input type="submit" value="Edytuj" class="btn btn-primary btn-sm"/></td>
                </tr>
            </table>
        </form>
    {% endif %}



    {% if edycja!=1 %}
        <form action="{{ path('my_kilometrowka_zalogowany_dodajTrase') }}" method="post">
            <table border="0">

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj dowolną nazwę trasy. Nazwa trasy służy tylko i wyłącznie do celów opisowych dla Ciebie."></span>&nbsp;<label class="form-label">Nazwa trasy:</label><input path="nazwa" class="form-control" name="nazwa" /><font color="red"><form:errors path="nazwa" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miejsce początkowe trasy (miasto)."></span>&nbsp;<label class="form-label">Miejscowość źródłowa:</label><input path="skad" class="form-control" name="skad"/><font color="red"><form:errors path="skad" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj miejsce końcowe trasy (miasto)."></span>&nbsp;<label class="form-label">Miejscowość docelowa:</label><input path="dokad" class="form-control" name="dokad" /><font color="red"><form:errors path="dokad" /></font></td>
                </tr>
                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj długość w kilometrach wprowadzanej trasy."></span>&nbsp;<label class="form-label">Odległość w km:</label><input path="odleglosc" class="form-control" type="number" min="1" max="999999999" name="odleglosc"/><font color="red"><form:errors path="odleglosc" /></font></td>
                </tr>

                <tr>

                    <td><span style="color: silver;" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Podaj opis trasy. Opis trasy jest opcjonalny."></span>&nbsp;<label class="form-label">Opis*:</label><textarea path="opis" class="form-control" name="opis" /></textarea><font color="red"><form:errors path="opis" /></font></td>
                </tr>

                <tr>
                    <td colspan="2" align="center"><br><input type="submit" value="Dodaj" class="btn btn-primary btn-sm"/></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}