{% extends 'MyKilometrowkaBundle:Login:layout.html.twig' %}


{% block body %}

    <div id="drukowanie">

        <hr>
        <center><h2>Ewidencja przebiegu pojazdu <b>{{ miesiac }}-{{ rok }}</b></h2></center>
        <hr>

        <div style="float: left; min-width: 100%;">
            <div style="float: left; min-width: 85%;">
                <b>Pojazd:</b> {{ pojazd.nazwa }}<br>
                <b>Nr. rejestracyjny:</b> {{ pojazd.numerRejestracyjny }}<br>
                <b>Pojemność silika:</b> {{ pojazd.pojemnoscSilnika }}<br>
            </div>
            <div style="float: left; min-width:15%">
                <b>Firma:</b> {{ firma.nazwaFirmy }}<br>
                <b>NIP:</b> {{ firma.nip }}<br>
                <b>REGON:</b> {{ firma.regon }}<br><br>
            </div>
        </div>

        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr><th>LP</th><th>Data</th><th>Trasa</th><th>Cel wyjazdu</th><th>Pracownik</th><th>Stawka</th><th>Przejechane km</th><th>Wartość</th><th style="min-width: 80px;">Podpis</th></tr>

            {% set sumaZl=0 %}   
            {% set sumaKm=0 %} 
            <c:set var="sumaKm" value="${0}"/> 
            <c:set var="lp" value="${0}"/> 


            {% for rows in przejazdy %}

                {#<c:set var="lp" value="${lp+1}"/>#}          
                <tr class="wycentruj">
                    <td>{{ loop.index }}</td>
                    <td>{{rows.data|date('Y-m-d')}}</td>
                    <td>{{rows.nazwaTrasy}}</td>
                    <td style="max-width: 60px;">{{rows.celWyjazdu}}</td>
                    <td>{{rows.nazwaPracownika}}</td> 
                    <td>{{ stawka|number_format(2,',','') }} zł</td>
                    <td>{{rows.odlegloscTrasy}} km</td>
                    <td>{{(rows.odlegloscTrasy*stawka)|number_format(2,',','')}} zł</td>
                    <td> </td>
                </tr>    

                {% set sumaZl=sumaZl+(stawka*rows.odlegloscTrasy) %}
                <c:set var="sumaZl" value="${sumaZl + pojazd.stawka * przejazd.odlegloscTrasy}"/>   
                {% set sumaKm=sumaKm+rows.odlegloscTrasy %}
                <c:set var="sumaKm" value="${sumaKm + przejazd.odlegloscTrasy}"/> 

            {% endfor %}

        </table>

        <b>Suma przejechanych kilometrów:</b> 
        {{ sumaKm }} km<br>

        <b>Wartość w złotówkach:</b> 
        {{ sumaZl|number_format(2,',','') }} zł

    </div>

    <hr>
    <p>
        (<a  style="color: green;" href="#" onclick="drukuj('#drukowanie')">
            <span class="glyphicon glyphicon-print">&nbsp;Drukuj</span></a>)
            {# {idFirmy}/{idPojazdu}/{rok}/{miesiac}/{raport} #}
            {#             download="{{rok}}-{{miesiac}}-raport.txt"#}
        &nbsp;&nbsp;(<a style="color: green;" href="{{ path('my_kilometrowka_zalogowany_ewidencjaNr', {'idFirmy': firma.id, 'idPojazdu': pojazd.id, 'rok': rok, 'miesiac': miesiac, 'raport': 1 }) }}" download="{{rok}}-{{miesiac}}-raport.txt">
                        <span style="color: green;" class="glyphicon glyphicon-download-alt">&nbsp;Pobierz raport</span></a>)

    {# "raport-${miesiacLiczbowo}-${rok}.txt #}
</p>

{% endblock %}