{% extends 'MyKilometrowkaBundle:Login:layout.html.twig' %}


{% block body %}
    {#    <%@page contentType="text/html" pageEncoding="UTF-8"%>
        <%@ taglib uri='http://java.sun.com/jsp/jstl/core' prefix='c'%>
        <%@taglib uri="http://www.springframework.org/tags" prefix="spring"%>#}
    <spring:url value="/dodajPojazd" var="url" htmlEscape="true"/>

    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        W tym module możesz przegladać, modyfikować, dodawać i usuwać pojazdy.
    </div>
    
    {% if app.request.query.get("blad")==1 %} 
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Aby dodać przejazd musisz posiadać chociaż jeden pojazd!
        </div>
    {% elseif app.request.query.get("blad")==2 %}
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Pomyślnie dodałeś nowy pojazd!
        </div>
    {% elseif app.request.query.get("blad")==3 %}
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Pomyślnie zmodyfikowałeś dane pojazdu!
        </div>
    {% endif %}
    
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr><th>Nazwa</th><th>Numer rejestracyjny</th><th>Pojemnosc silnika</th><th>Opis</th></tr>
                {% if pojazd is defined %}
                    {% for rows in pojazd %}
                <tr>
                    <td>{{ rows.nazwa }}</td>
                    <td>{{ rows.numerRejestracyjny }}</td>
                    <td>{{ rows.pojemnoscSilnika }}</td>
                    <td><i>{{ rows.opis }}</i></td>

                    <td><a href="{{ path('my_kilometrowka_zalogowany_edytujPojazd', {'id': rows.id }) }}"> 
                            <span class="glyphicon glyphicon-edit" > </span> Edytuj</a></td>

                    <td><a href="usun/{{ rows.id }}/1"> 
                            <span class="glyphicon glyphicon-trash" ></span> Usuń</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>



    <a class="btn btn-primary btn-sm" href="{{ path('my_kilometrowka_zalogowany_dodajPojazd') }}">Dodaj pojazd</a>
{% endblock %}