<!doctype html>
<html>
    <head>
        <title>Kilometrówka 2017</title>
        <meta name="robots" content="index, follow">
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ asset('bundles/mykilometrowka/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mykilometrowka/css/mojCSS.css') }}" />
        <script type="text/javascript" src="{{ asset('bundles/mykilometrowka/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/mykilometrowka/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/mykilometrowka/js/mojeJS.js') }}"></script>
    </head>

    <body>
        <div class="container">
            {# <tiles:insertAttribute name="nav_1" />#}
            {% block nav_1 %}
            {% endblock %}

            <div class="container">

                {# <tiles:insertAttribute name="body" /> #}
                {% block body %}
                {% endblock %}

                {# <tiles:insertAttribute name="footer" />#}
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>



